* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  width: 100%;
  padding: 0px;
  position: relative;
  height: 100%;
}

  .PRINCIPAL {
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }

  .inicio {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .main {
    max-width: 95%;
    margin: 0px auto auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .infosec2 {
    height: 80% !important;
    width: 90% !important;
    margin-top: 20px;
  }
  .infosec2 {
    margin-top: 15px !important;
    font-size: 150% !important;
    text-align: center !important;
    margin-bottom: 5px !important;
  }

  .dragdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    height: 80% !important;
    width: 90% !important;
    background-color: #C6CDD3;
  }

  .mresultante {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    height: 80% !important;
    width: 90% !important;
    background-color: #C6CDD3;
  }

  textarea {
    height: 80% !important;
    width: 90% !important;
  }


.PRINCIPAL {
  width: 100%;
  height: 100%;
}

.inicio {
  width: 100%;
  height: 900px;
}

h1 {
  display: block;
  text-align: center;
  font-size: 4em;
  margin-top: 0px;
  font-family: 'DM Sans', sans-serif;
  color: black;
  margin-top: 5%;
}

.encabezado {
  width: 100%;
  height: calc(100vw/2.2);
  color: black;
  margin: auto;
  padding: auto;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;    
  font-family: 'DM Sans', sans-serif;
  padding-top: 7%;
  padding-bottom: 3%;
  flex-direction: row;
}

nav::after {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  content: '';
  background-size: 200% 100%;
  background-position: -100% 0;
  filter: blur(20px);
  z-index: -1;
}

@keyframes slide {
  0% {
    background-position: -100% 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.boton1 {
  margin-top: 10px;
  width: 200px;
  background: #8806CE;
  height: 60px;
  color: white;
  text-decoration: none;
  border-radius: 1rem;
  text-align: center;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton1:hover {
  background-color: #F7CC2E;
  border-radius: 20px;
  transition: all 350ms;
}

.infosec1 {
  height: 50%;
  width: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 25px;
  position: relative;
}

.infosec1::after {
  position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(166deg, rgba(255,255,255,1) 6%, rgba(109,51,255,1) 64%);
    background-size: 200% 100%;
    background-position: -100% 0;
    animation: slide 3s linear infinite;
    filter: blur(20px);
    z-index: -1;
    transform: translateY(-10px);
}

@keyframes slide {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.infosec1 h2 {
  margin-top: 10px!important;
  font-size: 250%!important;
  text-align: center!important;
  margin-bottom: 5px!important;
  font-family: 'DM Sans', sans-serif;
    color: black;
}

.Letras {
  padding: 20px;
  text-align: justify;
}

.button {
  border-color: white;
}

.color {
  background: rgb(255, 255, 255);
  background: linear-gradient(166deg, rgba(255, 255, 255, 1) 6%, rgba(109, 51, 255, 1) 64%);
  height: 100vw;
  width: 100%;
  position: relative;
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ola {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: +1;
}

.calc {
  position: relative;
  z-index: 9999;
  display: inline-block;
  width: 800px;
  height: 800px;
  padding: 10px;
  border-radius: 5px;
  animation: levitate 2s ease-in-out infinite alternate;
}

@keyframes levitate {
  0% {
    transform: translateY(0);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: translateY(-30px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  }
}

footer {
  height: 30px;
  background: rgb(255, 255, 255);
  background: linear-gradient(166deg, rgba(255, 255, 255, 1) 6%, rgba(251, 255, 51, 1) 81%);
}

h2 {
  font-family: 'DM Sans', sans-serif;
  color: black;
}

p {
  font-family: "DM Sans", sans-serif;
  color: black;
  font-size: 12px;
  padding: 1%;
  text-align: center;
}

@media screen and (max-width:900px) {
    body {
      width: 100%;
    }
    .inicio {
      height: 100%;
    }
    .color {
      background: rgb(255, 255, 255);
      background: linear-gradient(166deg, rgba(255, 255, 255, 1) 6%, rgba(109, 51, 255, 1) 64%);
      position: relative;
      margin-top: 0%;
      flex-direction: column;
      justify-content: center;
      display: flex;
      width: 100%;
      align-content: center;
      align-items: center;
      height: 120vw;
    }
    .encabezado {
      width: 100%;
      height: 100%;
      color: black;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: space-evenly;
    }
    .encabezado h1 {
      font-size: 200% !important;
      padding: 2%;
      padding-left: 5%;
      padding-right: 5%;
    }
    .main {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-top: 20%;
      margin: 0!important;
      width: 80%;
    }
    nav {
      margin: 0;
      padding: 0;
      padding-bottom: 20%;
    }
    .boton1 {
      margin-top: 10px;
      width: 200px;
      background: #8806CE;
      height: 45%;
      display: flex;
      text-align: center;
      padding: 5px;
      margin: 2%;
    }
    .ola {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: +1;
    }
    .infosec1 {
      width: 80% !important;
      order: 1;
    }
    .infosec1 h2 {
      font-size: 200% !important;
    }
    .calc {
      width: 800px;
      height: 400px;
      order: 2;
    }
  }  