*{
  margin: 0;
  padding: 0;
}
/*sE DEFINE EL COLOR DEL CUERPO */
body {
    background-color: black;
    height: 1200px;
    padding: 0px;
    position: relative;
  }


/*Lo que vuelve responsivo a la página*/
@media(max-width: 1200px){

body{
    
    background-color: #181A1C ;
    

}

.PRINCIPAL {
        
        display: flex!important;
        flex-direction: column!important;
        align-items: center!important;
        
        
}
     
nav{
      
        height: 100px;
        display: flex;
        flex-direction: column ;
        justify-content: space-between;
        margin-top: 100px;
     
}

.infosec1{
    height: 80%!important;
    width: 90%!important;
}
.inicio{
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    
}

.main{
    width: 85%!important;
    height: 60%!important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px!important;
    
    

}

.infosec1 h2{
    margin-top: 10px!important;
    font-size: 200%!important;
    text-align: center!important;
    margin-bottom: 5px!important;
 
}


}


/*TAMAÑO DEL BLOQUE PRINCIPAL*/
.PRINCIPAL {
 
    width: 100%;
    height:100%;
    

  
}

/*TAMAÑO DEL BLOQUE INICIO*/
.inicio{
    width: 100%;
    height: 900px;
   
}

/*TITULO*/
h1 {
    display: block;
    text-align: center;
    font-size: 4em;
    margin-top: 0px;
    font-family: 'DM Sans', sans-serif;
    color: black;
    margin-top: 50px;
}

/*SE DEFINE CÓMO SERÁ EL AREA QUE CONTIENE A LA NAVEGACIÓN*/
.encabezado{
    width: 80%;
    height: 60px;
    color: black;
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}
/*SE DEFINE LA NAVEGACIÓN*/
nav{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    position: relative;
    font-family: 'DM Sans', sans-serif;
    color: black;


}
nav::after {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(116, 57, 156, 0.8) 30%, rgba(255, 255, 255, 0) 70%);
    background-size: 200% 100%;
    background-position: -100% 0;
    animation: slide 5s linear infinite;
    filter: blur(20px);
    z-index: -1;
  }
  
  @keyframes slide {
    0% {
      background-position: -100% 0;
    }
    50% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }
  
/*SE MODIFICAN LOS ESTILOS DE LINKS*/
.boton1{
    margin-top: 10px;
    width: 200px;
    background: #8806CE;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    border-radius: 1rem;
    
    }

/*ANIMACIÓN DE BOTON1*/  
.boton1:hover{
     
   background-color: #F7CC2E;
        border-radius: 20px;
        transition: all 350ms;
    
    }
/*TAMAÑO DE LA CAJA PRINCIPAL*/
.main{
    width: 95%;
    height: 85%;
    margin: auto;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    

}

/*TAMAÑO DE LA CAJA SECCIÓN 1 */
.infosec1{
    height: 70%;
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 25px;
    position: relative;
    
}

.infosec1::after {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: '';
    background: rgb(255,255,255);
background: linear-gradient(166deg, rgba(255,255,255,1) 6%, rgba(109,51,255,1) 64%);
    background-size: 200% 100%;
    background-position: -100% 0;
    animation: slide 3s linear infinite;
    filter: blur(20px);
    z-index: -1;
    transform: translateY(-10px);
    
  }
  
  @keyframes slide {
    0% {
      background-position: -100% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  

.infosec1 h2{
        margin-top: 10px!important;
        font-size: 300%!important;
        text-align: center!important;
        margin-bottom: 5px!important;
     
 }

 /*ESTILO DE LETRA (PARRAFO)*/
.Letras{
    font-style: arial;
    padding: 20px;
    text-align: justify;


}

.button{
    border-color: white;
}


.color{
    background: rgb(255,255,255);
    background: linear-gradient(166deg, rgba(255,255,255,1) 6%, rgba(109,51,255,1) 64%);
    height: 65%;
    position: relative;
    margin-top: 0%;
   
    flex-direction: column;
    justify-content: center;
  
}
.ola{
    position: absolute;
    width: 100%;
    margin-top: 190px;
    margin-bottom: 0px;
    

}

.calc {
    position: relative;
    z-index: 9999;
    display: inline-block;
    width: 800px;
    height: 800px;
    padding: 10px;
    border-radius: 5px;
    animation: levitate 2s ease-in-out infinite alternate;
  }
  
  @keyframes levitate {
    0% {
      transform: translateY(0);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    100% {
      transform: translateY(-30px);
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    }
  }
  
  footer{
    height: 30px;
    background: rgb(255,255,255);
    background: linear-gradient(166deg, rgba(255,255,255,1) 6%, rgba(251,255,51,1) 81%);
  }
  h2{font-family: 'DM Sans', sans-serif;
  color: black;
  }

  p{
    font-family: 'DM Sans', sans-serif;
    color: black;
  }
